.DetailsPage {
	background: var(--background-color);
}

.content {
	padding: var(--padding);
	text-align: center;
	color: var(--text-color);
}

/* p {
	font-size: 64px;
	font-weight: 700;
	margin-bottom: 10px;
} */

.highlight {
	color: var(--highlight-color);
}
