.MainPage {
	background: var(--background-color);
}
.content {
	padding: var(--padding);
	text-align: center;
	color: var(--text-color);
}

.title {
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-bold);
	margin-bottom: var(--margin-bottom);
}
.highlight {
	color: var(--highlight-color);
}
