.paintList {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: center;
	margin-top: 50px;
}

.highlight {
	font-size: 16px;
	font-weight: 400;
	color: #e0a449;
	margin-bottom: 0;
}

.title {
	font-size: 32px;
	font-weight: 400;
	margin-bottom: 40px;
	margin-top: 0;
	color: #4a4a4a;
	letter-spacing: -0.5px;
}
