.searchBarContainer {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.heading {
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #39393980;
}

.searchBox {
	display: flex;
	align-items: center;
	background: #3939390d;
	border-radius: 16px;
	padding: 10px 20px;
	width: 100%;
	max-width: 760px;
	box-sizing: border-box;
}
.messages {
	margin-top: 10px;
	text-align: center;
}

.loading,
.error {
	font-size: 14px;
	font-weight: 300;
}

.input {
	border: none;
	background: none;
	outline: none;
	padding: 10px;
	font-size: 16px;
	flex: 1;
	min-width: 300px;
}

.searchButton {
	background: none;
	border: none;
	cursor: pointer;
	padding: 5px;
}

.sortContainer {
	margin: 20px;
}

.sortLabel {
	font-size: 20px;
	font-weight: 400;
	margin-right: 10px;
	color: #393939d4;
}

.select {
	border: none;
	font-size: 18px;
	color: #393939df;
}
