.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	background: linear-gradient(
		90deg,
		#343333 38.05%,
		#484848 69.22%,
		#282828 98.98%
	);
	padding: 10px 200px;
	color: #ffffff;
}
.headerItems {
	display: flex;
	gap: 20px;
}

.header-item {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.icon {
	font-size: 24px;
	margin-right: 10px;
}

.title {
	font-size: 18px;
	vertical-align: top;
	padding: 0 5px;
}

.burgerMenu {
	display: none;
	cursor: pointer;
}
@media (max-width: 768px) {
	.header {
		padding: 20px;
	}
	.headerItems {
		display: none;
		flex-direction: column;
		background: linear-gradient(
			90deg,
			#343333 38.05%,
			#484848 69.22%,
			#282828 98.98%
		);
		position: absolute;
		top: 100px;
		right: 0;
		width: 100%;
		height: auto;
		z-index: 1;
		padding: 20px 0;
	}

	.headerItems.open {
		display: flex;
	}

	.burgerMenu {
		display: block;
		margin-right: 30px;
	}

	.header-item {
		width: 100%;
		justify-content: center;
		margin-bottom: 10px;
	}
}
