.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px; /* Уменьшены отступы */
	background-color: #fff;
	border: 1px solid #f0f1f1;
	margin: 16px;
	transition: box-shadow 0.3s ease;
	width: 400px; /* Установите фиксированную ширину */
	height: 110px;
}

.card:hover {
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.image {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 8px;
	margin: 10px;
}

.details {
	flex-grow: 1;
	margin-left: 30px;
}

.title {
	font-size: 17.54px;
	font-weight: 500;
	color: #333;
	letter-spacing: -0.5px;
	margin: 0;
}

.author {
	font-size: 15.35px;
	color: #e0a449;
	font-weight: 400;
	margin: 0;
}

.status {
	font-size: 15.35px;
	font-weight: 700;
	color: #393939;
}

.favoriteButton {
	background: none;
	border: none;
	cursor: pointer;
	padding: 5px;
}
